body {
  background-color:   #5F8246;
  margin: 0;
  color: burlywood;
  h1, h2, h3{
    color: blanchedalmond;
    font-family: Montserrat;
  }
  .box.text-box{
    margin-bottom: 20px;
    margin-top: 30px;
  }
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Navbar{
  border-top: #826f46;
  border-bottom: #495057;
  display: flex;

  margin-bottom: 40px;
}
.NavigationBar{
  background-color: #2C3E50; 
  padding: 10px;
  border-bottom: 3px solid #495057;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1.9); 
  background: linear-gradient(to right, #3498db, #2c3e50); 
  display: flex;
  justify-content: center !important;
}
.Navbar-container {
  border: 2px solid #826f46; 
  background-color: #6d8246; 
  border-radius: 10px;
  overflow: hidden;
  justify-content: right;
}  

.nav-link {
  padding: 10px 15px; 
  padding-left: 10px;
  margin-right: 10px; 
  color: #ffffff;
  transition: color 0.3s ease;
  font-weight: bold;
  align-items: center;
  font-weight: bold;
  display: inline-block;
}
.nav-link:hover {
  color: #FFD700; 
}

.Navbar.Brand {
  max-width: 50px; 
  max-height: 50px; 
}
.nav-link.button {
  color: #ff8009c4;
}
.contact-container{
  margin-top: 30px;
  margin-bottom: 40px;
}
.login{
  border-color: #5F8246;
  border-top: yellowgreen;
  border-bottom: yellowgreen;
  border-width: 20px;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.card.title{
  border-top: 10px;
}
.mb-3{
  font-weight: 100;
 border: 1px;
}
.button:hover{
 color:#FFD700
}
form {
  max-width: 400px; /* Set a maximum width for the form */
  margin: 0 auto; /* Center the form horizontally */
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Make input fields and textarea full width of the container */
  padding: 8px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}
.but {
  background-color: #826846;
  color: #ffffff;
  padding: 10px 15px;
  border-color: #5F8246;
  border-top: yellowgreen;
  border-bottom: yellowgreen;
  border-width: 20px;
  cursor: pointer;
}
.but:hover{
  color: #FFD700;
  border-top: #ffffff;
}
.foot{
  background-color: #826846;
}
.login {
  background-color: #826846;
  color: yellowgreen;
  padding: 10px 15px;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.center-content{
  justify-content: center;
}
.hover-effect{
transition: transform 0.2s ease-in-out;
}
.hover-effect{
  transform:scale(1.8);
}
.side{
  margin-top: 10px;
}
.bankpic{
  margin-top: -300px;
  
}
.logo{
  opacity: 0.8;
  width: 150px;
 height: auto;
}
.contact{
  text-align: center;
}
.list:hover{
color:#FFD700;
}
.blue{
background-color: yellowgreen;
}
.start{
  color: yellowgreen;
}
.pet:hover{
color:#FFD700
}
.color{
  background-color: yellowgreen;
}
.sign{
  background-color: yellowgreen
}