body {
  background-color:   #5F8246;
  margin: 100vh;
  color: burlywood;
  h1, h2, h3{
    color: blanchedalmond;
    font-family: Montserrat;
    font-size: larger;
  }
  .box.text-box{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: x-large;
  }
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-text{
  font-size: larger;
}
.Navbar{
  background-color: #826846;
  border-top: #826846;
  border-bottom: #826846;
  display: flex;

  margin-bottom: 40px;
}
.text{
  font-size: larger;
}
.NavigationBar{
  background-color: #826f46; 
  padding: 10px;
  border-bottom: 3px solid #495057;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1.9); 
  background: linear-gradient(to right, #3498db, #2c3e50); 
  display: flex;
  justify-content: center !important;
}
.Navbar-container {
  border: 2px solid #826f46; 
  background-color: #826f46; 
  border-radius: 10px;
  overflow: hidden;
  justify-content: right;
}  

.nav-link {
  padding: 10px 15px; 
  padding-left: 10px;
  margin-right: 10px; 
  color: #ffffff;
  transition: color 0.3s ease;
  font-weight: bold;
  align-items: center;
  font-weight: bold;
  display: inline-block;
}
.nav-link:hover {
  color: #FFD700; 
}

.Navbar.Brand {
  max-width: 50px; 
  max-height: 50px; 
}
.nav-link.button {
  color: #ff8009c4;
}
.contact-container{
  margin-top: 30px;
  margin-bottom: 40px;
}
.login {
  border-color: #5F8246;
  border-top: yellowgreen;
  border-bottom: yellowgreen;
  border-width: 20px;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.card.title{
  border-top: 10px;
}
.mb-3{
  font-weight: 100;
 border: 1px;
}
.button:hover{
 color:#FFD700;
}
form {
  max-width: 400px; /* Set a maximum width for the form */
  margin: 0 auto; /* Center the form horizontally */
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Make input fields and textarea full width of the container */
  padding: 8px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
}
.but {
  background-color: #826846;
  color: #ffffff;
  padding: 10px 15px;
  border-color: #5F8246;
  border-top: yellowgreen;
  border-bottom: yellowgreen;
  border-width: 20px;
  cursor: pointer;
}
.but:hover{
  color: #FFD700;
  border-top: #ffffff;
  
}
.add-to-cart-button:hover{
  background-color: #FFD700;
  color:white
}
.donate:hover{
  background-color: #FFD700;
}
.footer{
  background-color: #826846;
  margin-top: 700px;
}
.login {
  background-color: #826846;
  color: yellowgreen;
  padding: 10px 15px;
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: x-large;
  
}
.center-content{
  justify-content: center;
}
.hover-effect{
transition: transform 0.2s ease-in-out;
}
.hover-effect{
  transform:scale(1.8);
}
.side{
  margin-top: 10px;
}
.bankpic{
  margin-top: -200px;
  
}
.logo{
  opacity: 0.8;
  width: 150px;
 height: auto;
 margin-right: 100px;
}

/* Show logo on smaller screens */
@media (max-width: 768px) {
  .logo {
    display: inline;
      /* Show the logo on screens with a width of 768 pixels or smaller */
  }
}

.contact{
  text-align: center;
}
.list:hover{
color:#FFD700;
}
.blue{
background-color: yellowgreen;
}
.start{
  color: yellowgreen;
}
.pet:hover{
color:#FFD700
}
.color{
  background-color: yellowgreen;
}
.sign{
  background-color: yellowgreen
}
.tilt{
  font-size: xx-large;
font-weight: 300;
font-style: oblique;
}
.map{
margin-bottom: 100px;
}
.ten{
  width: 200px;
  height: 200px;
}

.six{
  height: 200px;
  width: 250px;
  margin-left: -40px;
}

.three{
  width: 600px;
  margin-top: -700px;
}
.four{
  width: 600px;
}
.container {
  display: flex;
  justify-content: flex-end; /* Align items to the end (right) of the container */
}
.one {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add space between the photos */
  margin-left: -300px;
  margin-top: -360px;

}

.too {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: -490px; /* Move the second picture up */
  margin-left: -520px;
  margin-bottom: 20px; /* Add space between the second and third 
}

.thee {
  width: 300px;
  height: 200px;
  margin-top: 100px; /* Move the third picture up */
  float: left;
  margin-left: -50px;
}

.contact{
  font-size: xx-large;
}
.hoverFlex {
  transition: transform 0.3s ease-in-out;
}
.donation{
 margin-top: 50px;
 padding-bottom: 80px;
}
/* Default styles for larger screens */
.img-large {
  display: block; /* Display the image by default */
}

/* Hide images on smaller screens */
@media (max-width: 768px) {
  .img-large {
    display: none; /* Hide the image on screens with a width of 768 pixels or smaller */
  }
}
